certifi==2026.7.22
charset-normalizer==3.4.9
customtkinter==6.0.0
darkdetect==0.8.0
ffmpeg-python==0.2.0
future==1.0.0
idna==3.18
mutagen==1.48.1
packaging==26.3
pillow==12.3.0
pygame-ce==2.5.7
python-vlc==3.0.21203
requests==2.34.2
urllib3==2.7.0
yt-dlp==2026.7.4
